
.App {
  margin: 0;
  text-align: center;
}

.page-title {
  padding: 1rem 0;
  color: #42c5f4;
  text-align: center;
}


.input-form {
  padding: 1rem 0;
}

.error-message {
  color: red;
  text-align: center;
}

.container__footer {
  border-top: 1px solid #eeeeee;
  padding: 1rem 1rem 0 1rem;
  background-color: white;
  text-align: left;
}

.container {
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.container__header {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem;
  margin-top: 3rem;
}

.logo {
  cursor: pointer;
  background-color: #5e95ed;
}

.user-choices {
  width: 40%;
  margin: 1rem auto;
}

.top-bar {
  background-color: #5e95ed;
}

.news-title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}

.news-content {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.no-result-notice {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-bottom: 1rem;
}

#login-button, #configure-button, #signup-button, #logout-button {
  width: 5rem;
}

#private-welcome-text, #public-welcome-text {
  color: #efef1a;
}
